
/* common section */
*{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}
.common-btn{
    background-color: #1d4ed8;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: auto;
}

/* navbar section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 12px 0px;
    max-width: 1200px;
    margin: auto;
    /* border-bottom: 1px solid #2d3748; */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
}

/* hero section & codeconnect */
.hero{
    height:100vh;
    background-image: url(images/banner.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.codeconnect{
    width:100%;
    height:100%;
    gap: 30px;
    background: linear-gradient(
        to right,
        rgba(0,0,0,.75),
        rgba(0,0,0,.55),
        rgba(0,0,0,.65)
    );
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* text-align:center; */
}
.codeconnect h1{
    color: white;
    font-size: 70px;
    margin-bottom: 20px;
}
.codeconnect p{
    color: white;
    text-align: center;
    width: 700px;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 40px;
}
.codeconnect-p{
    gap: 300px;
}

