/* common section */
*{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}
.common-btn{
    background-color: #1d4ed8;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
    /* margin-bottom: 00px; */
}


.container{
    max-width: 1200px;
    margin: auto;
}



/* navbar section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 12px 0px;
    max-width: 1200px;
    margin: auto;
    /* border-bottom: 1px solid #2d3748; */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
}




/* hero section & codeconnect */
.hero{
    height:100vh;
    background-image: url(images/banner.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.codeconnect{
    width:100%;
    height:100%;
    gap: 30px;
    background: linear-gradient(
        to right,
        rgba(0,0,0,.75),
        rgba(0,0,0,.55),
        rgba(0,0,0,.65)
    );
    /* display:flex;
    flex-direction:column;
    justify-content:center; */
    align-items:center;
    /* text-align:center; */
}
.codeconnect-text{
    /* margin-bottom: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.codeconnect-btn {
    align-items: center;
    /* background-color: red; */
    margin-top: 28vh;
    text-align: center;

}
.codeconnect h1{
    
    color: white;
    font-size: 70px;
    margin-top: 100px;
}
.codeconnect p{
    margin-top: 25px;
    color: white;
    text-align: center;
    width: 700px;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 40px;
}
.codeconnect-p{
    gap: 300px;
}


/* meetup section */
.speaker{
    padding:100px 0;
}
.speaker h2{
    text-align:center;
    font-size:50px;
    margin-bottom:60px;
}
.speaker-parent{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
}
.speaker-card{
    width:48%;
    border:1px solid #ddd;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
    background:#fff;
}
.speaker-card img{
    width:100%;
    height:280px;
    object-fit:cover;
    display:block;
}
.speaker-content{
    padding:20px;
}
.speaker-content span{
    color:#3056ff;
    font-size:12px;
    font-weight:bold;
}
.speaker-content h3{
    margin:10px 0;
    font-size:28px;
}
.speaker-content p{
    color:#848383;
    font-size:16px;
}


/* secure-spot section start */
.securespot{
    padding:100px 0;
    /* background: white; */
}
.securespot h2{
    text-align:center;
    font-size:60px;
    margin-bottom:8px;
}
.securespot-subtitle{
    text-align:center;
    color: grey;
    margin-bottom:60px;
    font-size:20px;
}
.securespot-parent{
    display:flex;
    justify-content:space-between;
    gap:25px;
}
.securespot-card{
    flex:1;
    border:1px solid #9a9999;
    border-radius:10px;
    padding:25px;
    background: white;
} 
.securespot-card.pro{
    background:#0f1d2e;
    color:#fff;
    border:none;
}
.card-plan{
    font-size:15px;
    font-weight:bold;
    color:#666;
}
.pro .card-plan{
    color:#487fde;
}
.pricing-card h3{
    font-size:55px;
    margin:10px 0;
}
.price-text{
    color:#666;
    margin-bottom:20px;
}
.pro .price-text{
    color:#ddd;
}
.securespot-card hr{
    margin:20px 0;
    border:none;
    border-top:1px solid #ddd;
}
.pro hr{
    border-color:#2b3b50;
}
.securespot-card ul{
    list-style:none;
    margin-bottom:30px;
}
.securespot-card ul li{
    margin-bottom:15px;
    position:relative;
    padding-left:18px;
}
.securespot-card ul li::before{
    content:"•";
    color:#2d63ff;
    position:absolute;
    left:0;
}
.securespot-card button{
    width:100%;
    padding:14px;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}
.standard-btn{
    background:#fff;
    color:#2d63ff;
    border:2px solid #2d63ff;
}
.team-btn{
    background:#fff;
    color:#111;
    border:2px solid #111;
}






/* Footer */
.footer{
    background:#0f1d2e;
    padding:35px 0;
}
.footer-logo{
    display: flex;
    justify-content: space-between;
    height: 30px;
    /* width: 60px; */
    margin-bottom: 40px;
}
.footer-notice{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 40px;
    font-size: small;
}
.footer-left p{
    color:#aeb7c2;
    font-size: 16px;
}
.footer-right{
    display: flex;
    gap: 30px;
}
.footer-right a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    /* transition:.3s; */
}
.footer-right a:hover{
    color: white;
}